$color-primary: #c20bc1;
$color-line: #363636;

// typography
$text-color-secondary: #2b2c30;
$text-color-default: #5a5a62;
$text-colors-placeholder: #b0b1c1;

// Absolute
$color-white: #fff;
$color-black: #444;
$color-full-black: #000;

// bg

$background-white: #fefefe;
$background-gray-1: #f5f5f7;
$background-gray-2: #f6f6f6;
$background-black: #0e0c22;
